@import "./Styles.scss";

.Buttons {
    padding: 1.2rem;
    width: 80%;
    justify-content: center;
    margin: auto;
    .Letter {
        @include button-style;
        width: 4rem;
    }
    .Letter:active, .Letter:visited, .Letter:hover {
        background-color: #000;
    }
    .Letter:disabled {
        color: #d6dfdf;
        background-color: #ff1100;
        border-color: #ff1100;
        box-shadow: 0 0 40px #ff1100;
        cursor: default;
    }
}
