@import "./Styles.scss";

.Mystery {
    .Start {
        @include button-style;
    }
    .Word {
        line-height: 1.6;
        font-size: 2rem;
        display: inline-flex;
        span.Answer {
            -webkit-text-security: square;
        }
        span.Answer:active {
            padding: 1rem;
            -webkit-text-security: none;
            font-weight: bold;
        }
    }
}
