//Created values that can be shared with the other stylesheets.

$primaryBlack: #000;
$primaryWhite: #fff;
$primaryColor: #006666;

@mixin button-style {
    background-color: $primaryColor;
    color: $primaryWhite;
    padding: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    margin: 6px;
    border-radius: 12px;
    border-style: none;
    font-size: 1.4rem;
}
