//Created values that can be shared with the other stylesheets.

$primaryBlack: #000;
$primaryWhite: #fff;
$primaryColor: #006666;
$primaryColorText: #d6dfdf;
$primaryColorError: #ff1100;

@mixin button-style {
    background-color: $primaryColor;
    color: $primaryWhite;
    padding: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    margin: 6px;
    border-radius: 12px;
    border-style: none;
    font-size: 1.4rem;
}

@mixin button-style-clicked {
    color: $primaryColorText;
    background-color: $primaryColorError;
    border-color: $primaryColorError;
    box-shadow: 0 0 40px $primaryColorError;
    cursor: default;
}
